* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

:root {
    --color: rgb(159, 17, 224);
    --font-color: rgb(28, 75, 129);

}

body {
    background: linear-gradient(180deg, #e0f2fe, #fef3c7);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-card {
    background-color: white;
    width: 320px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 50vh;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 4px 3px 6px #e9dcdc;

}

.song-thumbnail {
    background-color: rgb(255, 201, 52);
    width: 90%;
    height: 50%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.song-thumbnail i {
    color: var(--color);
    font-size: 70px;

}

.song-title {
    font-size: 20px;
    color: var(--font-color);
    margin-top: 20px;


}

.song-subtitle {
    color: #7c7c7c;
    margin-top: 15px;

}

.progress-line {
    width: 95%;
    background-color: rgb(209, 209, 209);
    height: 8px;
    border-radius: 9px;
    margin-top: 30px;


}

.progress {
    height: 8px;
    width: 30%;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    background: linear-gradient(135deg, #6366f1, #22d3ee);

}

.play-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.play-buttons {
    background-color: var(--font-color);
    padding: 15px 19px;
    border-radius: 50%;



}

.play-buttons i {
    color: white;
    font-size: 15px;
}
@media only screen and (max-width:162px) and (max-height:197px) {
    .music-card {
        height: 80vh;
        width: 90vw;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }

    .song-thumbnail {

        display: none;
    }

    .song-title {
        font-size: 13px;
        margin-top: 8px;

    }

    .song-subtitle {
        font-size: 10px;
        margin-top: 7px;

    }

    .song-thumbnail i {
        font-size: 20px;
    }
    .progress-line{
        margin-top: 17px;
        height: 5px;

    }
    .progress{
        height: 5px;
    }
    .play-buttons{
        padding: 4px  4px;
        border-radius: 50px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content:center ;
        flex-direction: row;
    }
    .play-buttons i{
        font-size: 5px;
        text-align: center;
        margin-top: 4px;
       

    }
    .play-icons{
        margin-top: 12px;
        gap: 15px;
    }
}
@media only screen and (max-width:375px) and (max-height:586px) {
    .music-card {
        height: 70%;
        width: 80vw
    }

    .song-thumbnail {
        width: 60vw;
        height: 30vh;
    }
}

